* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #faf9f6;
}
body {
  max-width: 1440px;
  height: 100vh;
  /* margin: 0 5%; */
}
nav {
  padding: 20px 10%;
  height: 15vh;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 5rem;
  font-weight: 500;
}

nav ul li {
  list-style-type: none;
  cursor: pointer;
}
#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}
.left-part {
  width: 40%;
}
.right-part {
  width: 60%;
}

.left-part h1 {
  font-size: 64px;
}
.left-part p {
  color: #808080;
  font-size: 18px;
  margin: 18px 0;
}
.left-part button {
  padding: 15px 25px;
  border: none;
  background-color: #3b855b;
  border-radius: 15px;
  cursor: pointer;
  color: #f2f2f2;
}
.upper-img > img {
  margin-left: 25px;
  margin-bottom: 20px;
}
.lower-img > img {
  margin-left: 25px;
}
